#closeButton {
  margin: 15px 6px 6px;
}

.dialogVPanel {
  margin: 5px;
}

.gwt-DialogBox {
  width: 400px;
  color:blue;
}

.mainpage-lobal-jobcoach {
size:24px;
	font-size: 30px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.serverResponseLabelError {
  color: red;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.mainpage-label-slogan {
	font-size: 15px;
}
.mainpage-label-userpass {
	font-size: 15px;
}
.mainpage-connect {
	color: Black;
	font-size: 14px;
}
.mainpage.basdepage {
	font-size: 12px;
	color:green;
}
mainpage-content {
	position: relative;
}
toto {
}
.mainpage-title {
	font-size: 40px;
}
.mainpage-create_account-panel {
	border: inset;
	background-color: paleturquoise;
	border-collapse: collapse;

}
.mainpage-label-clickable {
	color: Blue;
	text-decoration: underline;
	cursor: pointer;
}
.gwt-StackLayoutPanel {
	border: 10px inset;
}
.left-panel-border {
	margin: 5px;
}
.StackPanel-left-panel {
}
.gwt-StackLayout {
}
.gwt-StackPanel {
}
.userpage-label-clickable {
	color: blue;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.userpage-label-normal {
	color: darkblue;
	font-weight: bold;
}
.userpage-label-clicked {
	color: dodgerblue;
	font-weight: bolder;
}
.summary-text {
	color: darkblue;
	font-weight: bold;
	font-size: 15px;
}
.summary-title {
	color: gray;
	font-weight: bold;
	font-size: 15px;
}
.filecelltable {
line-height:30px
}
.clickableText {
	cursor: pointer;
 colorr:red;
}
