.label-content {
	font-size: 25px;
	bgcolor: blue;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: underline;
}

.label-content-subtitle {
	font-size: 20px;
	bgcolor: darkblue;
	font-family: "Trebuchet MS", sans-serif;
	border-bottom:	20px solid #FFFFFF;
	border-top:	20px solid #FFFFFF;
}

#content {
	font-size: 20px;
	bgcolor: blue;
	font-family: "Trebuchet MS", sans-serif
}

#closeButton {
  margin: 15px 6px 6px;
}

.dialogVPanel {
  margin: 5px;
}

.gwt-DialogBox {
  color:black;
  margin: 5px;
  border: 5px solid #AAAAAA;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #EEE;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
}

.gwt-DialogBox .Caption
{
	#background-color			:	#ff0;
	font-size					:	150%;
	font-weight					:	bold;
	border-bottom				:	3px solid #009;
	#padding					:	5px;
	text-align					:	center;
	cursor						:	move;
}

.label-username
{
	font-size: 15px;
	font-weight:bold;
	color:darkred;
}

.label-create-account-ok
{
	font-size: 15px;
	color:black;
}

.label-create-account-error
{
	font-size: 15px;
	color:red;
}

.label-status-ok-c
{
	font-size: 15px;
	color:black;
	font-weight:bold;
}

.label-status-ok-nc
{
	font-size: 15px;
	color:black;
}

.label-status-error-c
{
	font-size: 15px;
	color:red;
	font-weight:bold;
}

.label-status-error-nc
{
	font-size: 15px;
	color:red;
}


.common-form-dialog {
  color:black;
  margin: 5px;
  border: 5px solid #AAAAAA;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #EEE;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
}

.common-form-dialog .Caption
{
	#background-color			:	#ff0;
	font-size					:	150%;
	font-weight					:	bold;
	border-bottom				:	3px solid #009;
	#padding					:	5px;
	text-align					:	center;
	cursor						:	move;
}



.mainpage-global-jobcoach {
size:24px;
	font-size: 30px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.serverResponseLabelError {
  color: red;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.mainpage-label-slogan {
	font-size: 15px;
}
.mainpage-label-userpass {
	font-size: 15px;
}
.mainpage-connect {
	color: Black;
	font-size: 14px;
}
.mainpage.basdepage {
	font-size: 12px;
	color:green;
}
mainpage-content {
	position: relative;
	font-family: "Trebuchet MS", sans-serif;	
}

.mainpage-title {
	font-size: 40px;
}
.mainpage-create_account-panel {
	border: inset;
	background-color: paleturquoise;
	border-collapse: collapse;

}
.mainpage-label-clickable {
	color: Blue;
	text-decoration: underline;
	cursor: pointer;
}
.gwt-StackLayoutPanel {
	border: 10px inset;
}
.left-panel-border {
	margin: 5px;
}
.StackPanel-left-panel {
}
.gwt-StackLayout {
}


.gwt-StackPanel {
  border-bottom: 1px solid #bbbbbb;
}
.gwt-StackPanel .gwt-StackPanelItem {
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  font-size: 1.3em;
  padding: 3px;
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}
.gwt-StackPanel .gwt-StackPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}


.userpage-label-clickable {
	color: blue;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.userpage-label-normal {
	color: darkblue;
	font-weight: bold;
}
.userpage-label-clicked {
	color: dodgerblue;
	font-weight: bolder;
}
.summary-text {
	color: darkblue;
	font-weight: bold;
	font-size: 15px;
}
.summary-title {
	color: gray;
	font-weight: bold;
	font-size: 15px;
}
.filecelltable {
	font-size: 15px;	
	line-height:30px;
	border:10px solid #FFFFFF;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #EEE;
	padding: 5px;
	/*display:block; */
}
.clickableText {
	cursor: pointer;
    color:red;
}
.standard-text {
font-size:18px;
}

/* 
* Global widget style. 
*/
.gwt-DatePicker {
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  color: 6b6b6b;
  cursor: default;
  width: 7em;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
  font-family: Arial;
  font-size: 65%;
  padding: 2px;
  text-align: center;
  padding: 2px;
  outline: none;
  cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector  td :focus {
  outline: none
}

.gwt-DateBox input {
  width: 8em;
}

/* 
* Calendar styles 
*/
.datePickerDays {
  background-color: white;
  width: 100%;
}

.datePickerWeekdayLabel {
  background: #dbe6de;
}

.datePickerWeekendLabel {
  background: #dbe7ef;
}

.datePickerDay {
  padding: 1px;
  cursor: hand;
  width: 1em;
}

.datePickerDayIsToday {
  border: 1px solid black;
  padding: 0px;
}

.datePickerDayIsWeekend {
  background: #f1f1f1;
}

.datePickerDayIsFiller {
  color: #bfbfbf;
  padding: 1px;
  cursor: hand;
}

.datePickerDayIsSelected {
  background: #aaccee;
}

.datePickerDayIsDisabled {
  color: graytext;
}

.datePickerDayIsHighlighted {
  border: 1px solid #eeeeee;
  padding: 0px;
}

.datePickerDayIsSelectedAndHighlighted {
   background: #bbddff;
}


/* 
* Month selector styles 
*/
.datePickerMonthSelector {
  background: #dbe6de;
  width: 100%;
  text-align: center;
}

.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 70%;
}

.datePickerPreviousButton {
   text-align: left;
}

.datePickerNextButton {
     text-align: right; 
}